<mat-toolbar class="mat-elevation-z8 navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dualis Parser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a mat-button class="nav-link" routerLinkActive="active" routerLink="/grades">Grades</a>
        </li>
        <li class="nav-item">
          <a mat-button class="nav-link" routerLinkActive="active" routerLink="/imprint">Imprint</a>
        </li>
      </ul>
      <div class="row ml-auto">
        <div class="my-2 my-lg-0">
          <button *ngIf="isLoggedIn()" mat-icon-button color="warn" aria-label="logout" routerLink="/logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
