<mat-toolbar class="mat-elevation-z8 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dualis Parser</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a mat-button class="nav-link" routerLinkActive="active" routerLink="/grades">Grades</a>
      </li>
      <li class="nav-item">
        <a mat-button class="nav-link" routerLinkActive="active" routerLink="/imprint">Imprint</a>
      </li>
    </ul>
    <div class="row ml-auto">
      <div class="my-2 my-lg-0">
        <button *ngIf="isLoggedIn()" mat-icon-button color="warn" aria-label="logout" routerLink="/logout">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
