<div *ngIf="!loading" id="page-container">
  <p class="h2 mb-5">Hello {{data.name}}
    <a *ngIf="data.cache < 120" class="h4">
      <span class="badge badge-primary">Cached results, <b>{{ 120 - data.cache }}</b> seconds left</span>
    </a>
    <a *ngIf="data.cache >= 120" class="h4">
      <span class="badge badge-primary">Ready to update</span>
      <button mat-icon-button color="primary" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </a>
  </p>

  <mat-form-field>
    <mat-label>Semesters</mat-label>
    <mat-select [formControl]="semesters" (selectionChange)="changeSelection()" multiple required>
      <mat-optgroup *ngFor="let semesterYear of data.semesters; let i = index"
                    [label]="'Year ' + (data.semesters.length - i)">
        <mat-checkbox (change)="groupCheckChanged(i, $event)" [(ngModel)]="groupCheck[i]" [(indeterminate)]="groupIndeterminate[i]" class="opt-group-check"></mat-checkbox>
        <mat-option *ngFor="let semester of semesterYear" [value]="semester">{{semester}}</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button color="accent" class="float-right" title="Export all to xlsx (#nofilter)"
          (click)="exportModules()">
    <mat-icon>cloud_download</mat-icon>
  </button>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Module</th>
      <th scope="col">Unit</th>
      <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody *ngFor="let module of visualModules">
    <tr
      class="table-{{module.passed ? 'success' :  module.passed === null ? 'primary' : 'danger'}} {{module.module_no}}">
      <th scope="col">{{ module.module_name }} ({{module.credits}})</th>
      <td></td>
      <th>{{ module.final_grade }}{{module.passed ? " (passed)" : ""}}
      </th>
    </tr>
    <tr *ngFor="let grade of module.grades">
      <th scope="col"></th>
      <td>{{grade.name}}</td>
      <td>{{grade.grade}}</td>
    </tr>
    </tbody>
  </table>

</div>
